<% content_for :title, "Inscription" %>


  <div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
          <%= image_tag "img-02.png", alt: "IMG"%>
			</div>
      <%= form_for resource, as: resource_name, url: registration_path(resource_name), class: "contact1-form validate-form" do |f| %>
				<span class="contact1-form-title">
					Inscrivez-vous
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :first_name, placeholder:"Prénom", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :last_name, placeholder:"Nom", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<%= f.text_field :email, placeholder:"email", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :description, placeholder:"Description", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :password, placeholder:"Mot de passe", type: "password", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :password_confirmation, placeholder:"Confirmation du mot de passe", type: "password", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>
        <p>Photo de profil :</p>
        <div class="wrap-input1 validate-input" data-validate = "Name is required">
              <%= f.file_field :avatar %>
					    <span class="shadow-input1"></span>
        </div> 

				<div class="container-contact1-form-btn">
          <%= f.submit  "Créer", class: "contact1-form-btn" %>
				</div>
        <div class="text-center p-t-12">
          <%= render "devise/shared/links" %>          
        </div>
			<%end%>
		</div>
	</div>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>