
<% content_for :title, "Edit User" %>

  <div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
          <%= image_tag "img-02.png", alt: "IMG"%>
			</div>
       <%= simple_form_for @user, class: "contact1-form validate-form", multipart: true do |f| %>
				<span class="contact1-form-title">
					Modifie ton compte
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :first_name, placeholder:"Prénom", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

				<div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :last_name, placeholder:"Nom", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.text_field :description, placeholder:"Description", class: "input1" %>
					<span class="shadow-input1"></span>
				</div>

        <p>Photo de profil :</p>
        
        <div class="wrap-input1 validate-input" data-validate = "Name is required">
              <%= f.file_field :avatar %>
					    <span class="shadow-input1"></span>
        </div> 

				<div class="container-contact1-form-btn">
          <%= f.submit  "Modifier", class: "contact1-form-btn" %>
				</div>
			<%end%>
		</div>
	</div>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>