<div class="container">    
  <div class="jumbotron">
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
          <%if @user.avatar.attached?%>
          <%= image_tag @user.avatar, style: "width:300px;height:300px", alt: 'avatar' %>
          <%else%>
          <%= image_tag "profile_picture.jpg", style: "width:300px;height:300px" %>
          <%end%> 
        </div>
        <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
            <div class="container" style="border-bottom:1px solid black">
              <h2><%=@user.first_name%> <%=@user.last_name%></h2>
            </div>
            <div>
              <button type="button" class="col-md-11 btn btn-secondary">Editer</button>
            </div>
              <hr>
            <ul class="container details">
              <li><p><span class="glyphicon glyphicon-earphone one" style="width:50px;"></span>+33 6 88 88 88 88</p></li>
              <li><p><span class="glyphicon glyphicon-envelope one" style="width:50px;"></span><%=@user.email%></p></li>
              <li><p><span class="glyphicon glyphicon-map-marker one" style="width:50px;"></span><%=@user.description%></p></li>
            </ul>
        </div>
    </div>
  </div>
            