<div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                  <% @items.each do |item|  %>
                    <div class="p-2 px-3 text-uppercase"><%= item.title%></div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"><%= item.price%>€</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase"><%= link_to 'Enlever', @cartitems, method: :delete, data: { confirm: 'Are you sure?' } %></div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row" class="border-0">
                    <div class="p-2">
                    <%= image_tag item.avatar, class:"img-fluid rounded shadow-sm", style:"width:70px;"%>
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">Timex Unisex Originals</a></h5><
                      </div>
                    </div>
                  </th>
                  <% end %>
                </tr>
                  <td class="border-0 align-middle"><strong> @totalprice </strong></td>
                  <td class="border-0 align-middle"><td><%= link_to 'Supprimer le panier', @cartitems, method: :delete, data: { confirm: 'Are you sure?' } %></td></td>
                </tr>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  



