<% content_for :title, "Ouverture d'une session" %>


  <div class="contact1">
		<div class="container-contact1">
			<div class="contact1-pic js-tilt" data-tilt>
          <%= image_tag "img-02.png", alt: "IMG"%>
			</div>
      <%= form_for resource, as: resource_name, url: session_path(resource_name), class: "contact1-form validate-form" do |f| %>
				<span class="contact1-form-title">
					Connectez-vous
				</span>

				<div class="wrap-input1 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<%= f.text_field :email, placeholder:"email", class: "input1", autofocus: true %>
					<span class="shadow-input1"></span>
				</div>

        <div class="wrap-input1 validate-input" data-validate = "Name is required">
					<%= f.password_field :password, placeholder:"Mot de passe", type: "password", class: "input1", autofocus: true %>
					<span class="shadow-input1"></span>
				</div>

				<div class="container-contact1-form-btn">
          <%= f.submit  "Se connecter", class: "contact1-form-btn" %>
				</div>
        <div class="text-center p-t-12">
          <p>  Vous êtes nouveau ? - <%= render "devise/shared/links" %></p>         
        </div>
			<%end%>
		</div>
	</div>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>