<% content_for :title, "Accueil" %>
<!-- Page Content -->
  <div class="container">

    <div class="row">
    
      <div class="col-lg-3">
        <h1 class="my-4">Cosmétique zéro déchet</h1>
        <div class="list-group">
          <p><br>Bienvenue ! 
          Ici vous trouverez tous nos ateliers cosmétiques solides véganes et respectueux de l'environnement.
          Des shampoings solides, du dentifrice, des lingettes démaquillantes et plein d'autres accessoires Zéro déchet vous attendent ! 
          Nos ateliers sont à destination des hommes,
          des femmes et de toute la famille !
          Ils ont pour but de remplacer les plastiques présents dans les salles de bains tout en faisant un beau geste pour notre planète mais aussi pour votre porte-monnaie :) 
          Laissez-vous tenter et (re)découvrez tous nos ateliers ici ! </p>
        </div>
        <h4>Les villes présentes </h4>
        <div class="list-group">
        <% @cities.reverse_each do |city| %>
        <%= link_to city.city, city_path(city),class: "list-group-item" %>
        <% end %>
      </div>
      </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <%= image_tag "beaume.jpg", class:"d-block img-fluid", style:"width:930px;height:500px;", alt:"First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "cream.jpg", class:"d-block img-fluid", style:"width:930px;height:500px;", alt:"First slide" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "products.jpg", class:"d-block img-fluid", style:"width:930px;height:500px;", alt:"First slide" %>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="row">
        <% @items.reverse_each do |item|  %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <%= image_tag item.avatar, class:"card-img-top", style:"width:253px;height:200px;"%>
              <%= button_to item, class:"card-body",method: :get do %>
                <h4 class="card-title">
                  <h3><%= item.title %></h3>
                </h4>
                <h4><%=number_to_euro(item.price)%></h4>
                <p class="card-text"><%=item.description%></p>
                <p class="card-text"> <i class="fas fa-map-marker-alt"></i> 
                <%= link_to City.find(item.city_id).city , city_path(City.find(item.city_id).id),class:"btn btn-quantity text-info" %>
                 </p>
                <div>
                <% if user_signed_in? %>
                <%= link_to "Ajouter au panier", new_item_cart_item_path(item, quantity: 1),class: "btn btn-luc btn-quantity" %>
                <% end %>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->