<% content_for :title, "Atelier" %>
            

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Cosmétique zéro déchet</h1>
        <div class="list-group">
          <p><br>Bienvenue ! 
          Ici vous trouverez tous nos ateliers cosmétiques solides véganes et respectueux de l'environnement.
          Des shampoings solides, du dentifrice, des lingettes démaquillantes et plein d'autres accessoires Zéro déchet vous attendent ! 
          Nos ateliers sont à destination des hommes,
          des femmes et de toute la famille !
          Ils ont pour but de remplacer les plastiques présents dans les salles de bains tout en faisant un beau geste pour notre planète mais aussi pour votre porte-monnaie :) 
          Laissez-vous tenter et (re)découvrez tous nos ateliers ici ! </p>
        </div>
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div class="card mt-4">
          <%= image_tag @item.avatar, class:"card-img-top img-fluid", style:"width:900px;height:400px;", alt:"avatar"%>
          <div class="card-body">
            <h3 class="card-title"><%=@item.title%></h3>
            <h4><%=number_to_euro(@item.price)%></h4>
            <p class="card-text"><%=@item.description%></p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
          </div>
          </form>
          -->
          <% if user_signed_in? %>
          <%= link_to "Ajouter au panier", new_item_cart_item_path(@item, quantity: 1),class: "btn btn-luc btn-quantity" %>
          <%end%>
        </div>
      </div>
      <!-- /.card -->
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Product Reviews
        </div>
        <div class="card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
          <small class="text-muted">Posted by Anonymous on 3/1/17</small>
          <hr>
          <a href="#" class="btn btn-luc">Leave a Review</a>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
</div>
<!-- /.container -->