<% content_for :title, "Accueil" %>
<!-- Page Content -->
  <div class="container">

    <div class="row">
    
      <div class="col-lg-3">
        <h1 class="my-4">Les ateliers de</h1>
        <h1 class="my-4"> la ville </h1>
        <h1 class="my-4"> <%= @city.city %></h1>
      </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
      <div class="row">
        <% @items.reverse_each do |item|  %>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
            <%= image_tag item.avatar, class:"card-img-top", style:"width:253px;height:200px;"%>
              <%= button_to item, class:"card-body",method: :get do %>
                <h4 class="card-title">
                  <h3><%= item.title %></h3>
                </h4>
                <h4><%=number_to_euro(item.price)%></h4>
                <p class="card-text"><%=item.description%></p>
                <div>
                  <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
                <% if user_signed_in? %>
                <%= link_to "Ajouter au panier", new_item_cart_item_path(item, quantity: 1),class: "btn btn-luc btn-quantity" %>
                <% end %>
              <%end%>
            </div>
          </div>
        <%end%>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.col-lg-9 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->